/* stylelint-disable scss/dollar-variable-pattern */
$avatarWidth: 26%;
$generalInputFontSize: 13px;
$commonColor: #e8660e;
$headlineHeight: 27px;
$fontSizeCommonPeriod: 14px;
$cvFooterHeight: 1cm;

@mixin parent-alignment($height) {
  height: $height;
  line-height: $height;
}

@mixin child-alignment() {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}

.cv-standard-page {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  position: relative;
  width: 21cm;

  // height: 29.7cm;
  min-height: 29.7cm;
  background: #fff;
  box-shadow: 0 0 2px rgb(75 75 75 / 20%);
  outline: 0;
  overflow: auto;

  // common for page
  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .clearfix {
    clear: both;
  }

  .icon-input {
    margin-right: 5px;
    width: 16px;
    font-size: 13px;
    display: inline-block;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  // styling range input view
  .cv-range-view {
    width: 100%;
    height: 10px;
    position: relative;
    background-color: #eee;
    margin-top: 7px;

    .rate-value {
      height: 10px;
      background-color: $commonColor;
    }
  }

  // styling contenteditable input view
  .cv-input-view {
    padding: 0;
    outline: 0;
    border: none;
    background: transparent;
    width: 100%;
    display: block;
    position: relative;
  }

  #cv-body {
    // padding-bottom: $cvFooterHeight;

    // cv general infor
    .general-info {
      width: 100%;
      padding-top: 40px;
      padding-bottom: 20px;

      .avatar {
        width: $avatarWidth;
        float: left;

        img.avatar-image {
          width: 124px;
          height: 124px;
          margin-left: 45px;
          border-radius: 62px;
          object-fit: cover;
          cursor: pointer;
        }
      }

      .information {
        padding-top: 20px;
        width: 100% - $avatarWidth;
        float: left;

        .fullname {
          margin-bottom: 1px;

          .fullname-input {
            font-size: 24px;
            font-weight: bold;
            width: 99%;
          }
        }

        .position {
          margin-bottom: 15px;

          .apply-position-input {
            font-size: 16px;
            width: 99%;
          }
        }

        .phone-number-input,
        .email-input,
        .birthday-input,
        .website-input,
        .address-input {
          display: inline-block;
          width: auto;
          min-width: 150px;
          margin-right: 13px;
          font-size: $generalInputFontSize;
        }

        .additional {
          margin-bottom: 10px;

          .phone-number-input {
            min-width: 120px;
          }
        }
      }
    }

    .content-container {
      border-top: 1px solid #e9e7e5;
      padding: 24px 30px 15px;

      // common headline
      .icon-append-common {
        position: relative;
        margin-bottom: 8px;
        @include parent-alignment($headlineHeight);

        .headline {
          font-weight: 600;
          font-size: 18px;
          text-transform: uppercase;
          @include child-alignment;
        }

        .icon {
          position: absolute;
          top: 0;
          left: -40px;
          @include parent-alignment($headlineHeight);

          i {
            font-size: 22px;
            @include child-alignment;
          }
        }
      }

      // style for block section
      .blocky {
        padding: 5px 50px 10px;
        position: relative;

        &:nth-of-type(n + 2) {
          margin-top: 15px;
        }

        &:hover {
          box-shadow: inset 0 0 0 2px #ccc;
          border-radius: 0 4px 4px;

          .blocky-controls {
            display: block;
          }
        }
        /* stylelint-disable-next-line no-descending-specificity */
        .blocky-controls {
          display: none;
          background-color: #ccc;
          padding: 5px 8px;
          border-radius: 4px 4px 0 0;
          text-align: right;
          position: absolute;
          top: -33px;
          left: 0;
          text-shadow: none;
          z-index: 999;
        }
      }

      // common section for column
      .row-section {
        position: relative;
        width: 100%;

        &:nth-of-type(n + 2) {
          margin-top: 20px;
        }

        .controls {
          display: none;
          text-align: right;
          position: absolute;
          top: -23px;
          right: 0;
          text-shadow: none;
          min-width: 200px;
          z-index: 999;
        }

        &:hover {
          box-shadow: 0 0 1px #999;

          .controls {
            display: block;
          }
        }

        .left-section {
          float: left;
          width: 30%;

          .name {
            font-weight: 600;
            width: 95%;
            font-size: 16px;
            margin-bottom: 5px;
          }

          .period {
            width: 95%;
            font-size: $fontSizeCommonPeriod;
          }
        }

        .right-section {
          float: right;
          width: 70%;

          .name {
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 5px;
          }

          .detail {
            font-size: $fontSizeCommonPeriod;
          }
        }
      }

      // block detail style
      .objective {
        .content {
          width: 100%;
          font-size: 15px;
        }
      }

      .experience {
        .content {
          width: 100%;
        }
      }

      .education {
        .content {
          width: 100%;
        }
      }

      .skill {
        .content {
          width: 500px;

          .row-section {
            &:nth-of-type(n + 2) {
              margin-top: 10px;
            }
          }

          .name {
            width: 28%;
            font-size: 14px;
          }

          .rate {
            width: 70%;
          }
        }
      }

      .activity {
        /* stylelint-disable-next-line no-descending-specificity */
        .row-section:nth-of-type(n + 2) {
          margin-top: 15px;
        }

        .content {
          width: 100%;
          font-size: 14px;

          .first {
            width: 76%;

            .a-name {
              font-size: 16px;
              font-weight: 600;
              margin-bottom: 3px;
            }
          }

          .second {
            width: 23%;

            .a-period {
              text-align: right;
              font-weight: bold;
            }
          }

          .a-detail {
            margin-top: 10px;
          }
        }
      }
    }
  }

  #watermark {
    position: absolute;
    right: 15px;
    bottom: 8px;
    font-size: 12px;
    color: #212529;
  }
}
