.controlItem {
  display: inline-block;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 6px;
  }

  &:hover {
    filter: brightness(120%);
  }
}

.utility {
  padding: 3px 13px;
  background-color: #fff;

  i {
    color: #495057;
  }
}

.hide {
  padding: 3px 16px;

  i {
    margin-right: 8px;
  }
}
