.controls {
  display: flex;
  justify-content: space-between;
}

.toolbarColor {
  &__title {
    font-size: 16px;
    margin-bottom: 6px;
    text-align: center;
  }
}

.listItem {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin-bottom: 5px;

    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  &__action {
    position: relative;
    border-radius: 4px;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  &__actionActive {
    &::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #fff;
    }
  }
}

.saveBtn {
  width: 110px;
  padding: 10px 15px;

  i {
    font-size: 22px;
  }

  &__title {
    text-align: center;
    margin-bottom: 3px;
  }
}
