.testItem {
  // box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-family: 'Lexend Deca', sans-serif !important;
  border-bottom: 1px solid #e2e2ea;
  border-radius: 0;

  &_active {
    box-shadow: 0 12px 21px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    border-bottom: 0;
    border-radius: 10px;
    background: #403ecc;

    a {
      color: white;
    }

    p {
      color: white;
    }

    span {
      color: white;
    }
  }

  &:hover {
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    border-bottom: 0;
    border-radius: 10px;

    a {
      color: white;
    }

    p {
      color: white;
    }

    span {
      color: white;
    }
  }
}

.test_scrollbar {
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background: #f6f6ff;
  }

  &::-webkit-scrollbar-thumb {
    background: #d1d1d1;
    border-radius: 10px;
  }
}
