.course {
  &__article {
    scroll-snap-align: start;
    border-radius: 24px;
    padding: 0 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &__price {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #111033;
  }

  &__image {
    width: 100%;
    height: 140px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
  }
}

.courseItem {
  overflow: hidden;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  min-height: 310px;
  justify-content: space-between;
  border-radius: 24px;
  background: white;

  &__subContent {
    padding: 0 10px 10px;
    background: white;

    h4 {
      font-family: 'Lexend Deca', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      /* identical to box height, or 133% */

      letter-spacing: -0.005em;
      /* Neutral/1 */

      color: #171725;
    }
  }
}

.figure_caption {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #92929d;
}

.block_image {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  background: white;
  overflow: hidden;
  object-fit: cover;
  position: relative;
}

.block_content {
  padding: 17px;
  background: white;
  width: 100% !important;
}
