@import '@globalStyles/common/mixins';

.page {
  background: #f6f6f6;
  padding: 50px 0 30px;
}

.controlMenu {
  margin-bottom: 15px;
}

.content {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include tablet {
    flex-direction: column;
    justify-content: unset;
  }

  &__cvDocument {
    @include tablet {
      order: 2;
    }
  }

  &__errorBox {
    @include tablet {
      order: 1;
    }
  }
}
