@mixin common-wrapper {
  position: relative;
  width: 140px;
  height: 140px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 1px 6px rgb(0 0 0 / 12%), 0 1px 6px rgb(0 0 0 / 12%) !important;
    object-fit: cover;
  }
}

@mixin container-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.avatarWrapper {
  @include common-wrapper;

  cursor: pointer;

  &:hover::after {
    @include container-wrapper;

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(2 18 68 / 50%);
    background-image: url('/images/icons/camera.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 32px;
    content: '';
  }
}

.avatarNoUploadWrapper {
  @include common-wrapper;
}

.fileUpload {
  display: none;
}

.processingWrapper {
  @include container-wrapper;

  position: absolute;
  top: 0;
  right: 0;
}
