@import '@globalStyles/common/mixins';

.cvTitle {
  width: 21cm;
  display: block;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  outline: 1px dashed #ccd;
  border: none;
  background: transparent;

  &:empty::before {
    content: attr(aria-placeholder);
    color: #aaa;
    font-weight: 600;
    cursor: text;
  }

  @include tablet {
    width: 100%;
  }
}
