$notify-width: 400px;

// TODOKOGAP:  move scss to style module
#app-notification-button {
  width: 32px;
  height: 100%;
  display: flex;

  .notification-content {
    cursor: pointer;

    #notificationDropdown {
      fill: #d1d1f0;
      position: relative;
      padding: 0;
      width: 32px;

      .label-warning {
        position: absolute;
        top: 50%;
        right: -4px;
        text-align: center;
        font-size: 11px;
        line-height: 12px;
        background-color: #fa3e3e;
        border-radius: 2px;
        color: #fff;
        padding: 1px 3px;
        transform: translateY(-100%);
      }

      &[aria-describedby] {
        fill: #313676;
        background-color: #fff;
      }
    }
  }
}

#dropdown-notification {
  background: #fff;
  max-width: $notify-width;
  min-width: $notify-width;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  border: 1px solid #e5e5e5;
  padding: 0;
  overflow: hidden;
  margin: 2px 10px 0 0;
  transform: translateX(40px);
  border-radius: 10px;

  .no-notification {
    padding: 10px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ui-notification-header {
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
    font-size: 13px;
    border-bottom: solid 1px #dddfe2;

    .ui-notification-title {
      font-weight: bold;
    }

    .seen-all {
      cursor: pointer;
      color: #385898;
    }
  }

  .ui-notification-overlay {
    max-height: 415px;
    min-height: 415px;
    overflow-y: auto;
    overscroll-behavior: none;

    &::-webkit-scrollbar {
      width: 3px;
      background-color: #d2d2d2;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #7f7f7f;
    }

    .showMore {
      font-size: 12px;
      text-align: center;
      cursor: pointer;
      padding: 3px;
      display: block;
    }
  }

  ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }

  ul.ui-notification-expand {
    li {
      & + li {
        border-top: 1px solid #c2c2c2;
      }

      .notification-item.active {
        background-color: #e5eaf1;
      }

      .notification-item {
        white-space: normal;
        font-size: 14px;
        padding: 3px 10px;
        display: flex;
        color: black;

        .content-left {
          margin-right: 10px;

          img.avatar {
            margin-top: 2px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .content-right {
          .title {
            margin-bottom: 3px;
          }

          .time {
            color: #aaa;
            font-size: 13px;
          }
        }
      }
    }
  }
}
