.page {
  padding-top: 30px;

  &__title {
    padding: 20px 0;
    margin-bottom: 20px;
    text-align: center;
    background-color: var(--core-primary-color);
    color: #fff;

    h2 {
      font-weight: bold;
    }

    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.groupResult {
  margin-bottom: 50px;

  &__title {
    font-size: 25px;
    color: var(--core-primary-color);
    margin-bottom: 15px;
  }
}
